<template>
  <div class="base-input">
    <label>
      <span v-if="$slots.default" class="base-input__label">
        <slot />
      </span>
      <component
        :is="tag"
        :value="value"
        :type="type"
        v-bind="$attrs"
        class="base-input__form"
        :class="[isError]"
        v-on="{
          ...$listeners,
          input: (event) => $emit('input', event.target.value),
        }"
      />
    </label>

    <span v-if="error" class="base-input__error">
      {{ error }}
    </span>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text',
    },
    value: {
      type: [String, Number],
      required: true,
    },
    error: {
      type: String,
      default: '',
    },
    tag: {
      type: String,
      default: 'input',
    },
  },
  computed: {
    isError() {
      return {
        'base-input__form_error': this.error,
      }
    },
  },
}
</script>

<style lang="scss">
.base-input {
  margin-bottom: 22px;
  &__form {
    height: 48px;
    border-radius: 4px;
    background: var(--white);
    border: 1px solid var(--medium-gray);
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: border-color 0.3s;
    color: var(--gray);
    &:focus {
      outline: none;
      border-color: var(--blue);
    }

    &_error {
      border-color: var(--red);
      &:focus {
        border-color: var(--red);
      }
    }
  }

  &__error {
    color: var(--red);
  }

  &__label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 11px;
    display: block;
    color: var(--gray);
  }
}

textarea.base-input__form {
  min-height: 150px;
  max-height: 150px;
  resize: none;
  padding-top: 16px;
  padding-bottom: 16px;
}
</style>
