<template>
  <fragment>
    <div class="footer-section">
      <copyright-block :year="year" />
    </div>
    <div class="footer-section">
      <strong class="contact">{{ contacts.telephone }}</strong>
      <strong class="contact">{{ contacts.email }}</strong>
    </div>
    <div class="footer-section">
      <img src="./payments.png" alt="payments" />
    </div>
  </fragment>
</template>

<script>
import CopyrightBlock from '~/components/modules/TheFooter/CopyrightBlock'
import Config from '~/config'

const { email, telephone } = Config

export default {
  components: {
    CopyrightBlock,
  },
  props: {
    year: {
      type: Number,
      required: true,
    },
  },
  computed: {
    contacts() {
      return {
        email,
        telephone,
      }
    },
  },
}
</script>

<style scoped lang="scss">
.footer-section {
  &:nth-child(2) {
    margin: 0 auto;
  }

  @media only screen and (max-width: 768px) {
    &:first-child {
      order: 1;
    }
    &:last-child {
      order: 3;
    }
    &:nth-child(2) {
      margin-bottom: 28px;
    }
  }
}

.contact {
  font-size: 18px;
  font-weight: 700;
  margin-right: 18px;
  &:last-child {
    margin-right: 0;
  }
}
</style>
