<template>
  <div class="rate-price">
    <p class="title">Стоимость сервиса</p>
    <strong v-if="newPrice" class="price new">{{ newPrice }}</strong>
    <span class="price" :class="[checkOldPrice]">{{ price }}</span>
    <base-button class="btn">Подключить</base-button>
    <nuxt-link :to="link" class="link">Как подключить тариф?</nuxt-link>
  </div>
</template>

<script>
import BaseButton from '@/components/shared/BaseButton/index'

export default {
  components: {
    BaseButton,
  },
  props: {
    newPrice: {
      type: String,
      default: '',
    },
    price: {
      type: String,
      default: '',
    },
    link: {
      type: String,
      required: true,
    },
  },
  computed: {
    checkOldPrice() {
      return this.newPrice && 'old'
    },
  },
}
</script>

<style scoped lang="scss">
.rate-price {
  position: sticky;
  top: 20px;
  width: 457px;
  right: 0;
  float: right;
  padding: 40px 30px;
  background: var(--light-gray4);
  z-index: 10;
  margin-bottom: 200px;
  @media only screen and (max-width: 1370px) {
    order: 2;
    width: 50%;
    position: static;
    margin: 0;
  }

  @media only screen and (max-width: 1024px) {
    width: 70%;
  }

  @media only screen and (max-width: 900px) {
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    padding: 30px 20px;
  }
}

.title {
  margin: 0 0 17px;
}

.price {
  font-size: 24px;
  font-weight: 400;
  display: inline-flex;
  margin-bottom: 20px;
  &.new {
    font-weight: 700;
    color: var(--red);
  }
  &.old {
    text-decoration: line-through;
    @media only screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  & + & {
    margin-left: 21px;
    @media only screen and (max-width: 768px) {
      margin-left: 14px;
    }
  }
}

.btn {
  width: 100%;
  max-width: none;
  margin-bottom: 20px;
}

.link {
  color: var(--black);
  &:hover {
    text-decoration: underline;
  }
}
</style>
