<template>
  <section class="registration">
    <base-wrapper class="registration-wrapper">
      <img :src="image" alt="image" loading="lazy" class="image" />
      <div class="content">
        <h3 class="subtitle-common registration-title">
          Зарегистрируйся <br />
          получи бонус на свой счет!
        </h3>
        <p class="text-common registration-text">
          регистрируйся и получи до 100000 руб. на рекламу.
        </p>
        <base-button tag="nuxt-link" :link="registrationLink">
          Регистрация
        </base-button>
      </div>
    </base-wrapper>
  </section>
</template>

<script>
import BaseWrapper from '~/components/shared/BaseWrapper'
import BaseButton from '~/components/shared/BaseButton'

export default {
  components: {
    BaseWrapper,
    BaseButton,
  },
  props: {
    registrationLink: {
      type: String,
      required: true,
    },
  },
  computed: {
    image() {
      return require('./img/image.png')
    },
  },
}
</script>

<style scoped lang="scss">
.registration {
  background: var(--light-blue) url('./img/bg.png') center no-repeat;
  background-size: cover;
  padding: 45px 0 48px;
}

.registration-wrapper {
  display: flex;
  padding: 0 95px;
  @media only screen and (max-width: 1024px) {
    padding: 0 40px;
  }

  @media only screen and (max-width: 768px) {
    padding: 0 15px;
  }
}

.content {
  padding-top: 50px;
  margin-left: auto;
  @media only screen and (max-width: 1024px) {
    padding-top: 0;
  }
}

.registration-title {
  margin: 0 0 18px;
}

.registration-text {
  margin: 0 0 39px;
}

@media only screen and (max-width: 1024px) {
  .image {
    display: none;
  }

  .content {
    margin-left: 0;
  }
}
</style>
