<template>
  <div
    v-click-outside="hideTrigger"
    class="profile-settings"
    @click="toggleTrigger"
  >
    <div class="info">
      {{ email }}
      <font-awesome-icon
        :icon="$options.icon"
        class="icon"
        :class="[iconIsActive]"
      />
    </div>
    <transition name="slide-y-transition">
      <ul v-if="isActive" class="menu">
        <li v-for="(item, key) in settingsConfig" :key="key" class="menu-item">
          <nuxt-link :to="item.link" class="menu-link">
            <font-awesome-icon :icon="item.icon" class="menu-icon" />
            {{ item.text }}
          </nuxt-link>
        </li>
      </ul>
    </transition>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import { faChevronDown } from '@fortawesome/free-solid-svg-icons/faChevronDown'

export default {
  icon: faChevronDown,
  directives: {
    ClickOutside,
  },
  props: {
    email: {
      type: String,
      required: true,
    },
    settingsConfig: {
      type: Array,
      required: true,
    },
    isActive: Boolean,
  },
  computed: {
    iconIsActive() {
      return this.isActive && 'active'
    },
  },
  methods: {
    toggleTrigger() {
      this.$emit('toggle')
    },
    hideTrigger() {
      this.$emit('hide')
    },
  },
}
</script>

<style scoped lang="scss">
.profile-settings {
  color: var(--gray);
}

.icon {
  font-size: 10px;
  margin-left: 15px;
  margin-top: 2px;
  &.active {
    transform: rotate(180deg);
  }
}

.info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 250px;
  z-index: 10;
  background: var(--white);
  border-radius: 4px;
  padding: 30px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: block;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: -15px;
    position: absolute;
    border-bottom: 15px solid var(--white);
    left: 0;
    right: 0;
    margin: auto;
  }
}

.menu-item {
  & + & {
    margin-top: 15px;
  }
}

.menu-link {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 20px;
  margin-right: 12px;
}
</style>
