<template>
  <section class="about">
    <base-wrapper class="about-wrapper">
      <div class="content">
        <h4 class="subtitle-common about-title">О компании</h4>
        <p class="text-common about-text">
          ООО "Бизнес Ассистент является резидентом IT Park в г.Набережные
          Челны. Мы создали сервис МуБиз, который позволяет пользователю
          направить наибольший объем своих ресурсов на масштабирование бизнеса и
          не отвлекаться на поиск заказов и общение с надзорными органами. Вы
          сможете больше продавать и находить новых партнеров. По Вашему заказу
          мы готовы взять на себя юридическую защиту вашего проекта и обеспечить
          бухгалтерское обслуживание. Все вопросы с ФНС и другими надзорными
          органами мы возьмем на себя.
        </p>
        <base-button>Подробнее</base-button>
      </div>
      <div class="img-wrapper">
        <img class="img-responsive" loading="lazy" alt="img" :src="img" />
      </div>
    </base-wrapper>
  </section>
</template>

<script>
import BaseWrapper from '~/components/shared/BaseWrapper'
import BaseButton from '~/components/shared/BaseButton'

export default {
  components: {
    BaseWrapper,
    BaseButton,
  },
  computed: {
    img() {
      return require('./img.png')
    },
  },
}
</script>

<style scoped lang="scss">
.about {
  padding: 60px 0 40px;
}

.about-wrapper {
  display: flex;
  align-items: center;
}

.about-title {
  color: var(--gray);
  margin: 0 0 19px 0;
}

.about-text {
  color: var(--gray);
  margin: 0 0 29px 0;
}

.content {
  width: 48.122807017543856%;
  margin-right: auto;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.img-wrapper {
  max-width: 35.43859649122807%;
  @media only screen and (max-width: 1024px) {
    max-width: 45%;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}
</style>
