<template>
  <section class="greeting">
    <base-wrapper class="greeting-wrapper">
      <base-slider :per-page="1" class="slider">
        <slide v-for="item in 4" :key="item">
          <div class="wrapper">
            <h1 class="title-common greeting-title">Присоединяйтесь!</h1>
            <p class="text-common greeting-text">
              Мульти Бизнес - сервис для активных предпринимателей из любых
              отраслей. Открывайте бизнес онлайн увеличивайте продажи и
              получайте господдержку через сервис МуБиз!
            </p>
            <base-button>
              Подробнее
            </base-button>
          </div>
        </slide>
      </base-slider>
    </base-wrapper>
  </section>
</template>

<script>
import BaseWrapper from '~/components/shared/BaseWrapper'
import BaseButton from '~/components/shared/BaseButton'
import BaseSlider from '~/components/shared/BaseSlider'

export default {
  components: {
    BaseWrapper,
    BaseButton,
    BaseSlider,
  },
}
</script>

<style scoped lang="scss">
.greeting {
  position: relative;
  border-top: 5px solid var(--red);
  background: var(--blue) url('./bg.png') right center no-repeat;
  background-size: cover;
  padding: 145px 0 30px;
  @media only screen and (max-width: 768px) {
    padding: 50px 0 40px;
  }
}

.greeting-title {
  margin: 0 0 22px;
  @media only screen and (max-width: 768px) {
    margin: 0 0 15px;
  }
}

.greeting-text {
  margin: 0 0 34px;
}

.wrapper {
  max-width: 550px;
}

.slider {
  /deep/ .VueCarousel-pagination {
    margin-top: 160px;
    @media only screen and (max-width: 768px) {
      margin-top: 20px;
    }
  }

  /deep/ .VueCarousel-dot {
    background-color: var(--white) !important;
  }

  /deep/ .VueCarousel-dot-active {
    background-color: var(--white) !important;
  }
}
</style>
