<template>
  <main>
    <the-header />
    <base-wrapper type="md" class="content">
      <base-breadcrumb class="breadcrumb" />
      <not-found-error />
    </base-wrapper>
    <the-footer />
  </main>
</template>

<script>
import TheHeader from '~/components/modules/TheHeader'
import TheFooter from '~/components/modules/TheFooter'
import BaseBreadcrumb from '~/components/shared/BaseBreadcrumb'
import NotFoundError from '~/components/pages/errors/404'
import BaseWrapper from '~/components/shared/BaseWrapper'

export default {
  components: {
    TheHeader,
    TheFooter,
    BaseBreadcrumb,
    NotFoundError,
    BaseWrapper,
  },
}
</script>

<style scoped lang="scss">
.content {
  text-align: center;
  padding: 40px 15px;
}

.breadcrumb {
  margin-bottom: 100px;
}
</style>
