<template>
  <fragment>
    <base-logo class="logo" />
    <navigation-menu :links-config="links" is-auth class="menu" />
    <profile-block
      :email="email"
      :settings-config="settingConfig"
      class="profile"
    />
  </fragment>
</template>

<script>
import { faCog } from '@fortawesome/free-solid-svg-icons/faCog'
import { faSignOutAlt } from '@fortawesome/free-solid-svg-icons/faSignOutAlt'
import ProfileBlock from './ProfileBlock'
import Config from '~/config'
import NavigationMenu from '~/components/modules/TheHeader/NavigationMenu'
import BaseLogo from '~/components/shared/BaseLogo'

const {
  pages: { adminSettings },
} = Config

export default {
  components: {
    NavigationMenu,
    ProfileBlock,
    BaseLogo,
  },
  computed: {
    links() {
      return [
        {
          text: 'О компании',
          link: '',
        },
        {
          text: 'Вопрос-ответ',
          link: '',
        },
      ]
    },
    email() {
      return 'alexmname@gmail.com'
    },
    settingConfig() {
      return [
        {
          icon: faCog,
          text: 'Настройки',
          link: adminSettings,
        },
        {
          icon: faSignOutAlt,
          text: 'Выйти',
          link: '',
        },
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
.logo {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .logo {
    display: block;
  }
}
</style>
