<template>
  <a href="/" class="base-logo">
    <img :src="logo" alt="logo" class="base-logo__img" />
  </a>
</template>

<script>
const LOGO_MAP = {
  default: () => import('./img/logo.svg'),
  gray: () => import('./img/gray.svg'),
  min: () => import('./img/min.svg'),
}

export default {
  props: {
    type: {
      type: String,
      default: 'default',
      validator: (item) => ['default', 'gray', 'min'].includes(item),
    },
  },
  data() {
    return {
      logo: null,
    }
  },
  created() {
    this.getLogo()
  },
  methods: {
    async getLogo() {
      const { default: data } = await LOGO_MAP[this.type]()
      this.logo = data
    },
  },
}
</script>

<style lang="scss">
.base-logo {
  display: inline-flex;
  &__img {
    width: 122px;
    height: 60px;
  }
}
</style>
