<template>
  <section class="partners-block">
    <base-wrapper>
      <h4 class="subtitle-common partners-title">Наши партнеры</h4>
      <base-slider
        :per-page="6"
        :per-page-custom="[
          [320, 2],
          [768, 3],
          [1250, 6],
        ]"
      >
        <slide v-for="item in 12" :key="item" class="partner-content">
          <img src="./logo-stub.png" class="img-responsive" loading="lazy" />
        </slide>
      </base-slider>
    </base-wrapper>
  </section>
</template>

<script>
import BaseWrapper from '~/components/shared/BaseWrapper'
import BaseSlider from '~/components/shared/BaseSlider'

export default {
  components: {
    BaseWrapper,
    BaseSlider,
  },
}
</script>

<style scoped lang="scss">
.partners-block {
  margin-bottom: 60px;
}

.partners-title {
  color: var(--gray);
}

.partner-content {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

  @media only screen and (max-width: 1250px) {
    &:nth-child(odd) {
      padding-left: 0;
    }
    &:nth-child(even) {
      padding-right: 0;
    }
  }
}
</style>
