<template functional>
  <div class="base-wrapper" :class="[props.type, data.staticClass]">
    <slot />
  </div>
</template>

<script>
const TYPES_LIST = ['md', 'lg', 'xl']

export default {
  props: {
    type: {
      type: String,
      default: 'md',
      validator: (item) => TYPES_LIST.includes(item),
    },
  },
}
</script>

<style lang="scss">
.base-wrapper {
  &.md {
    max-width: 1140px;
    margin: 0 auto;
    @media only screen and (max-width: 1140px) {
      padding: 0 38px;
    }
    @media only screen and (max-width: 768px) {
      padding: 0 15px;
    }
  }
  &.lg {
    max-width: 1570px;
  }
  &.xl {
    width: 100%;
  }
}
</style>
