<template>
  <div class="rate-advantages">
    <h2 class="subtitle-common title">Преимущества</h2>
    <h2 class="subtitle-common title mobile">Преимущества работы с нами</h2>
    <div class="advantages-wrapper">
      <advantage-item
        v-for="(item, key) in advantagesConfig"
        :key="key"
        :info="item"
        class="advantage"
      />
    </div>
  </div>
</template>

<script>
import AdvantageItem from './AdvantageItem/index'

export default {
  components: {
    AdvantageItem,
  },
  props: {
    advantagesConfig: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style scoped lang="scss">
.title {
  color: var(--gray);
  margin: 0 0 30px;

  &.mobile {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    text-align: center;
    display: none;

    &.mobile {
      display: block;
    }
  }
}

.advantage {
  margin-bottom: 40px;
  width: 43%;
  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
}
</style>
