<template>
  <article class="advantage-item">
    <base-circle :icon="info.icon" class="circle" />
    <strong class="title">{{ info.title }}</strong>
    <p class="text">{{ info.text }}</p>
  </article>
</template>

<script>
import BaseCircle from '@/components/shared/BaseCircle/index'

export default {
  components: {
    BaseCircle,
  },
  props: {
    info: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped lang="scss">
.advantage-item {
  color: var(--gray);
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

.circle {
  margin-bottom: 20px;

  @media only screen and (max-width: 768px) {
    margin: 0 auto 15px;
  }
}

.title {
  margin-bottom: 12px;
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.text {
  margin: 0;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
</style>
