<template>
  <article class="review-item">
    <div class="image-wrapper">
      <img
        :src="info.image"
        alt="review"
        loading="lazy"
        class="img-responsive"
      />
    </div>
    <div class="info">
      <p class="name">{{ info.name }}</p>
      <p class="text">{{ info.text }}</p>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped lang="scss">
.review-item {
  display: flex;
  color: var(--gray);
}

.info {
  max-width: 50%;
  margin-left: 30px;
  position: relative;
  &:before {
    content: '';
    width: 39px;
    height: 30px;
    background: url('./quote.png') center no-repeat;
    position: absolute;
    top: 39px;
    left: -5px;
    font-size: 30px;
    z-index: 2;
  }
}

.name {
  font-weight: 700;
  margin: 0 0 24px;
}

.text {
  margin: 0;
  position: relative;
  z-index: 3;
}
</style>
