<template>
  <header class="the-header">
    <base-wrapper class="header-wrapper" :type="wrapperType">
      <component :is="getHeaderVersion" />
      <base-mobile-menu
        :nav-list="isAuth ? navListAuth : navListNonAuth"
        class="mobile-menu"
      />
    </base-wrapper>
  </header>
</template>

<script>
import { faAddressCard } from '@fortawesome/free-solid-svg-icons/faAddressCard'
import { faBlackTie } from '@fortawesome/free-brands-svg-icons/faBlackTie'
import { faUsers } from '@fortawesome/free-solid-svg-icons/faUsers'
import { faCog } from '@fortawesome/free-solid-svg-icons/faCog'
import { faSignOutAlt } from '@fortawesome/free-solid-svg-icons/faSignOutAlt'
import { faKey } from '@fortawesome/free-solid-svg-icons/faKey'
import { faLock } from '@fortawesome/free-solid-svg-icons/faLock'

import BaseWrapper from '~/components/shared/BaseWrapper'
import BaseMobileMenu from '~/components/shared/BaseMobileMenu'

import Config from '~/config'
const nonAuthVer = () => import('./NonAuthVersion')
const authVer = () => import('./AuthVersion')

const {
  pages: { registration, auth, adminRate, adminSettings },
} = Config

export default {
  components: {
    BaseWrapper,
    BaseMobileMenu,
  },
  props: {
    isAuth: Boolean,
  },
  computed: {
    getHeaderVersion() {
      return this.isAuth ? authVer : nonAuthVer
    },
    wrapperType() {
      return this.isAuth ? 'xl' : 'md'
    },
    navListNonAuth() {
      return [
        {
          icon: faLock,
          text: 'Регистрация',
          link: registration,
        },
        {
          icon: faKey,
          text: 'Авторизация',
          link: auth,
        },
      ]
    },
    navListAuth() {
      return [
        {
          icon: faAddressCard,
          text: 'Тариф “Базовый”',
          link: adminRate,
        },
        {
          icon: faBlackTie,
          text: 'Тариф “Универсальный”',
          link: adminRate,
        },
        {
          icon: faUsers,
          text: 'Тариф “Друзья”',
          link: adminRate,
        },
        {
          icon: faCog,
          text: 'Настройки',
          link: adminSettings,
        },
        {
          icon: faSignOutAlt,
          text: 'Выход',
          link: '',
        },
      ]
    },
  },
}
</script>

<style scoped lang="scss">
.the-header {
  height: 100px;
  background: var(--white);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}
</style>
