<template>
  <base-wrapper type="lg">
    <base-breadcrumb class="breadcrumbs" />
    <div class="rates-wrapper">
      <rate-card v-for="item in ratesConfig" :key="item.id" :info="item" />
    </div>
  </base-wrapper>
</template>

<script>
import { faBriefcase } from '@fortawesome/free-solid-svg-icons/faBriefcase'
import BaseBreadcrumb from '~/components/shared/BaseBreadcrumb'
import BaseWrapper from '~/components/shared/BaseWrapper'
import RateCard from '~/components/pages/admin/index/RateCard'
const imageStub = require('~/components/pages/admin/index/RateCard/image-stub.jpg')

export default {
  components: {
    BaseBreadcrumb,
    BaseWrapper,
    RateCard,
  },
  computed: {
    ratesConfig() {
      return [
        {
          id: 1,
          icon: faBriefcase,
          name: 'Тариф “Базовый”',
          text:
            'В результате пересечения двух отраслей человеческой деятельности\n' +
            '        грамотный веб-дизайнер должен быть знаком с новейшими веб-технологиями',
          image: imageStub,
          type: 'install',
        },
        {
          id: 2,
          icon: faBriefcase,
          name: 'Тариф “Базовый”',
          text:
            'В результате пересечения двух отраслей человеческой деятельности\n' +
            '        грамотный веб-дизайнер должен быть знаком с новейшими веб-технологиями',
          image: imageStub,
          type: 'installed',
        },
        {
          id: 3,
          icon: faBriefcase,
          name: 'Тариф “Базовый”',
          text:
            'В результате пересечения двух отраслей человеческой деятельности\n' +
            '        грамотный веб-дизайнер должен быть знаком с новейшими веб-технологиями',
          image: imageStub,
          type: 'pending',
        },
        {
          id: 4,
          icon: faBriefcase,
          name: 'Тариф “Базовый”',
          text:
            'В результате пересечения двух отраслей человеческой деятельности\n' +
            '        грамотный веб-дизайнер должен быть знаком с новейшими веб-технологиями',
          image: imageStub,
          type: 'notInstalled',
        },
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
.rates-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs {
  margin-bottom: 22px;
}
</style>
