<template>
  <div>
    <base-back-button class="back-button">
      <font-awesome-icon :icon="$options.backButton" class="back-icon" />
      Вернуться назад
    </base-back-button>
    <rate-info name="Тариф Базовый" />
    <div class="rate-content">
      <rate-price v-bind="priceConfig" />
      <div class="rate-wrapper">
        <p class="text">
          В результате пересечения двух отраслей человеческой деятельности
          грамотный веб-дизайнер должен быть знаком с новейшими веб-технологиями
          и обладать
        </p>
        <rate-advantages :advantages-config="advantagesConfig" />
        <base-reviews type="full" class="reviews" />
      </div>
    </div>
  </div>
</template>

<script>
import { faLock } from '@fortawesome/free-solid-svg-icons/faLock'
import { faHeadset } from '@fortawesome/free-solid-svg-icons/faHeadset'
import { faMap } from '@fortawesome/free-solid-svg-icons/faMap'
import { faPercent } from '@fortawesome/free-solid-svg-icons/faPercent'
import { faArrowLeft } from '@fortawesome/free-solid-svg-icons/faArrowLeft'

import RateInfo from '~/components/pages/admin/rate/RateInfo'
import RateAdvantages from '~/components/pages/admin/rate/RateAdvantages'
import RatePrice from '~/components/pages/admin/rate/RatePrice'
import BaseReviews from '~/components/shared/BaseReviews'
import BaseBackButton from '~/components/shared/BaseBackButton'

export default {
  backButton: faArrowLeft,
  components: {
    RateInfo,
    RateAdvantages,
    RatePrice,
    BaseReviews,
    BaseBackButton,
  },
  computed: {
    advantagesConfig() {
      return [
        {
          icon: faLock,
          title: 'Безопасность данных',
          text:
            'В результате пересечения двух отраслей человеческой деятельности грамотный веб-дизайнер должен быть знаком с новейшими веб-технологиями и обладать соответствующими',
        },
        {
          icon: faHeadset,
          title: 'Поддержка 24/7',
          text:
            'В результате пересечения двух отраслей человеческой деятельности грамотный веб-дизайнер должен быть знаком с новейшими веб-технологиями и обладать соответствующими',
        },
        {
          icon: faMap,
          title: 'Удобное отслеживание',
          text:
            'В результате пересечения двух отраслей человеческой деятельности грамотный веб-дизайнер должен быть знаком с новейшими веб-технологиями и обладать соответствующими',
        },
        {
          icon: faPercent,
          title: 'Бонуссная программа',
          text:
            'В результате пересечения двух отраслей человеческой деятельности грамотный веб-дизайнер должен быть знаком с новейшими веб-технологиями и обладать соответствующими',
        },
      ]
    },
    priceConfig() {
      return {
        price: '25 600 руб.',
        newPrice: '12 800 руб.',
        link: 'https://vk.com',
      }
    },
  },
}
</script>

<style scoped lang="scss">
.text {
  margin-bottom: 47px;
  max-width: 560px;
}

.rate-content {
  padding: 40px 0 40px 20px;
  position: relative;

  @media only screen and (max-width: 1370px) {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
}

.rate-wrapper {
  max-width: 1070px;
}

.reviews {
  @media only screen and (max-width: 1370px) {
    margin-bottom: 50px;
  }
}

.back-button {
  margin-bottom: 17px;
  color: var(--gray);
  display: inline-flex;
  align-items: center;
  font-weight: 700;
}

.back-icon {
  font-size: 24px;
  margin-right: 10px;
}
</style>
