<template>
  <div class="settings-page">
    <base-breadcrumb class="breadcrumb" />
    <h1 class="subtitle-common title">Настройки</h1>
    <form name="private-form" class="form-wrapper">
      <form-card title="Личные данные">
        <base-validator v-slot="{ error }" rules="required">
          <base-input v-model="model" :error="error">
            Имя
          </base-input>
        </base-validator>
        <base-input v-model="model">
          Отчество
        </base-input>
        <base-input v-model="model">
          Фамилия
        </base-input>
      </form-card>

      <form-card title="Контактные данные">
        <base-validator v-slot="{ error }" rules="required|email">
          <base-input v-model="model" :error="error">
            Эл. адрес
          </base-input>
        </base-validator>
        <base-validator v-slot="{ error }" rules="telephone">
          <base-input v-model="tel" :error="error">
            Телефон
          </base-input>
        </base-validator>
      </form-card>

      <form-card title="Паспортные данные">
        <div class="input-wrapper">
          <base-validator
            v-slot="{ error }"
            rules="passportSerial"
            class="passport-serial"
          >
            <base-input v-model="model" :error="error">
              Серия
            </base-input>
          </base-validator>

          <base-validator
            v-slot="{ error }"
            rules="passportNumber"
            class="passport-number"
          >
            <base-input v-model="model" :error="error">
              Номер
            </base-input>
          </base-validator>
        </div>
        <base-validator v-slot="{ error }" rules="required">
          <base-input v-model="model" :error="error">
            Прописка
          </base-input>
        </base-validator>
        <base-validator v-slot="{ error }" rules="required">
          <base-input v-model="model" :error="error" tag="textarea">
            Кем выдан
          </base-input>
        </base-validator>
        <div class="input-wrapper">
          <base-validator
            v-slot="{ error }"
            rules="required"
            class="passport-date"
          >
            <base-input v-model="model" :error="error">
              Когда выдан
            </base-input>
          </base-validator>

          <base-validator
            v-slot="{ error }"
            rules="passportCode"
            class="passport-code"
          >
            <base-input v-model="model" :error="error">
              Код подразделения
            </base-input>
          </base-validator>
        </div>
      </form-card>

      <base-button>Сохранить</base-button>
    </form>

    <form name="password-form" class="form-wrapper">
      <form-card title="Изменение пароля">
        <base-validator v-slot="{ error }" rules="required">
          <base-input v-model="model" :error="error">
            Новый пароль
          </base-input>
        </base-validator>
        <base-input v-model="model" :rules="samePasswordValidators">
          Повторите пароль
        </base-input>
      </form-card>
      <base-button>Изменить</base-button>
    </form>
  </div>
</template>

<script>
import BaseBreadcrumb from '~/components/shared/BaseBreadcrumb'
import BaseValidator from '~/components/shared/BaseValidator'
import FormCard from '~/components/pages/admin/settings/FormCard'
import BaseInput from '~/components/shared/BaseInput'
import BaseButton from '~/components/shared/BaseButton'

export default {
  components: {
    BaseBreadcrumb,
    FormCard,
    BaseInput,
    BaseValidator,
    BaseButton,
  },
  data() {
    return {
      model: '',
      tel: '',
    }
  },
  computed: {
    samePasswordValidators() {
      return {
        required: true,
        samePass: this.password,
      }
    },
  },
}
</script>

<style scoped lang="scss">
.settings-page {
  max-width: 560px;
}

.breadcrumb {
  margin-bottom: 27px;
}

.title {
  color: var(--gray);
  margin-bottom: 37px;
}

.input-wrapper {
  display: flex;
  .base-validator + .base-validator {
    margin-left: 21px;
  }

  @media only screen and (max-width: 768px) {
    display: block;
    .base-validator + .base-validator {
      margin-left: 0;
    }
  }
}

.passport-serial {
  flex: 1;
}

.passport-number {
  flex: 3;
}

.passport-code {
  flex: 1.5;
}

.passport-date {
  flex: 3;
}

.form-wrapper {
  margin-bottom: 40px;
}
</style>
