<template>
  <div class="form-card">
    <strong class="title">{{ title }}</strong>
    <div class="content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped lang="scss">
.title {
  display: block;
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 700;
}
</style>
