<template>
  <div class="registration-page-index">
    <link-tabs />
    <base-validator v-slot="{ error }" rules="required|email">
      <base-input v-model.trim="email" placeholder="Почта" :error="error" />
    </base-validator>
    <base-validator v-slot="{ error }" rules="required">
      <base-input v-model.trim="password" placeholder="Пароль" :error="error" />
    </base-validator>
    <base-validator v-slot="{ error }" :rules="samePasswordValidators">
      <base-input
        v-model.trim="checkPassword"
        placeholder="Повторите пароль"
        :error="error"
      />
    </base-validator>
    <base-checkbox v-model="checkbox" class="registration-page-index__checkbox">
      Я подтверждаю свою дееспособность, даю
      <a href="https://vk.com" class="registration-page-index__link"
        >согласие</a
      >
      на обработку персональных данных.
    </base-checkbox>
    <base-button>Регистрация</base-button>
  </div>
</template>

<script>
import BaseInput from '~/components/shared/BaseInput'
import BaseButton from '~/components/shared/BaseButton'
import BaseCheckbox from '~/components/shared/BaseCheckbox'
import LinkTabs from '~/components/pages/auth/LinkTabs'
import BaseValidator from '~/components/shared/BaseValidator'

export default {
  layout: 'registration',
  components: {
    BaseInput,
    BaseButton,
    LinkTabs,
    BaseCheckbox,
    BaseValidator,
  },
  data: () => ({
    email: '',
    password: '',
    checkPassword: '',
    checkbox: true,
  }),
  computed: {
    samePasswordValidators() {
      return {
        required: true,
        samePass: this.password,
      }
    },
  },
}
</script>

<style lang="scss">
.registration-page-index {
  &__checkbox {
    margin-bottom: 19px;
  }

  &__link {
    color: var(--blue);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
</style>
