<template>
  <section class="benefits">
    <base-wrapper class="benefits-wrapper">
      <div class="benefits-item">
        <h2 class="subtitle-common benefits-title">
          Преимущества работы с нами
        </h2>
      </div>
      <article
        v-for="item in benefitsConfig"
        :key="item.id"
        class="benefits-item"
      >
        <div class="icon-wrapper">
          <font-awesome-icon :icon="item.icon" class="icon" />
        </div>
        <strong class="title-item">{{ item.title }}</strong>
        <p class="text-common text-item">{{ item.text }}</p>
      </article>
    </base-wrapper>
  </section>
</template>

<script>
import { faUserPlus } from '@fortawesome/free-solid-svg-icons/faUserPlus'
import { faFile } from '@fortawesome/free-solid-svg-icons/faFile'
import { faInfo } from '@fortawesome/free-solid-svg-icons/faInfo'
import { faGift } from '@fortawesome/free-solid-svg-icons/faGift'
import { faUser } from '@fortawesome/free-solid-svg-icons/faUser'

import BaseWrapper from '~/components/shared/BaseWrapper'

const BENEFITS_CONFIG_DEFAULT = [
  {
    id: 1,
    icon: faUserPlus,
    title: 'Регистрация',
    text:
      'Регистрируй любые юридические лица, ИП и самозянятых бесплатно и без госпошлин.',
  },
  {
    id: 2,
    icon: faFile,
    title: 'Открытие счетов',
    text: 'Дистанционное открытие расчетных счетов сразу в 4 банках.',
  },
  {
    id: 3,
    icon: faInfo,
    title: 'Регулярное информирование',
    text:
      'Регулярное информирование о госзакупках в Вашей отрасли и в нужном регионе. Продавай сам или поручи это нашим специалистам по торгам.',
  },
  {
    id: 4,
    icon: faGift,
    title: 'Подарок',
    text: 'Получи в подарок ЭЦП',
  },
  {
    id: 5,
    icon: faUser,
    title: 'Индивидуальный аккаунт',
    text:
      'Предоставим индивидуальный аккаунт продавца в нашем интернет магазине',
  },
]

export default {
  components: {
    BaseWrapper,
  },
  props: {
    benefitsConfig: {
      type: Array,
      default: () => BENEFITS_CONFIG_DEFAULT,
    },
  },
}
</script>

<style scoped lang="scss">
.benefits {
  padding: 60px 0 30px;
}

.benefits-title {
  color: var(--gray);
}

.benefits-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.benefits-item {
  width: 33.33%;
  margin-bottom: 60px;
  padding: 0 45px;
  &:first-child {
    align-self: center;
  }
  &:nth-child(n + 4) {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 1024px) {
    width: 50%;
    &:nth-child(n + 4) {
      margin-bottom: 60px;
    }
    &:nth-child(n + 5) {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      padding-right: 20px;
      padding-left: 0;
    }

    &:nth-child(even) {
      padding-left: 20px;
      padding-right: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    &:nth-child(n) {
      padding: 0;
      margin: 0 0 30px 0;
      text-align: center;
    }
  }
}

.icon-wrapper {
  width: 100px;
  height: 100px;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 50%;
  @media only screen and (max-width: 768px) {
    margin: 0 auto 20px;
  }
}

.icon {
  color: var(--white);
  font-size: 48px;
}

.title-item {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray);
  display: block;
  margin-bottom: 11px;
  @media only screen and (max-width: 768px) {
    margin-bottom: 0;
  }
}

.text-item {
  margin: 0;
  color: var(--gray);
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
</style>
