<template>
  <nav class="list">
    <nuxt-link
      v-for="(item, key) in linksConfig"
      :key="key"
      :to="item.link"
      class="link"
    >
      <font-awesome-icon :icon="item.icon" />
    </nuxt-link>
  </nav>
</template>

<script>
export default {
  props: {
    linksConfig: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style scoped lang="scss">
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  display: flex;
  margin-bottom: 20px;
  color: var(--gray);
  font-size: 26px;
}
</style>
