<template>
  <component
    :is="tag"
    class="base-button"
    :class="[buttonTypeClass]"
    v-bind="buttonAttrs"
  >
    <slot />
  </component>
</template>

<script>
export default {
  props: {
    buttonType: {
      type: String,
      default: 'button',
    },
    type: {
      type: String,
      default: 'md',
      validator: (type) => ['md', 'sm'].includes(type),
    },
    tag: {
      type: String,
      default: 'button',
      validator: (tag) =>
        ['button', 'router-link', 'a', 'nuxt-link'].includes(tag),
    },
    link: {
      type: String,
      default: '',
    },
  },
  computed: {
    buttonTypeClass() {
      return `base-button_${this.type}`
    },
    buttonAttrs() {
      if (this.tag === 'button') {
        return {
          type: this.buttonType,
        }
      }
      const getLnkAttr = this.tag === 'a' ? 'href' : 'to'
      return {
        [getLnkAttr]: this.link,
      }
    },
  },
}
</script>

<style scoped lang="scss">
.base-button {
  border-radius: 4px;
  background: var(--red);
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  &:active {
    transform: scale(0.97);
  }

  &_md {
    min-width: 173px;
    height: 50px;
  }

  &_sm {
    min-width: 150px;
    height: 40px;
  }
}
</style>
