<template>
  <div class="base-search">
    <input
      v-model="getValue"
      type="text"
      class="base-search__input"
      v-bind="$attrs"
    />
    <font-awesome-icon
      :icon="$options.icon"
      class="base-search__icon"
      @click="searchTrigger"
    />
  </div>
</template>

<script>
import { faSearch } from '@fortawesome/free-solid-svg-icons/faSearch'

export default {
  icon: faSearch,
  props: {
    value: {
      type: String,
      required: true,
    },
  },
  computed: {
    getValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
  },
  methods: {
    searchTrigger() {
      this.$emit('search')
    },
  },
}
</script>

<style scoped lang="scss">
.base-search {
  position: relative;
  &__icon {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 20px;
    color: var(--white);
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
    &:active {
      transform: scale(0.85);
    }
  }
  &__input {
    color: var(--white);
    padding: 0 15px 10px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--white);
    outline: none;
    &::placeholder {
      color: var(--white);
      opacity: 1;
    }
  }

  &:after,
  &:before {
    position: absolute;
    bottom: 0;
    background: var(--blue);
    height: 1px;
    width: 0;
    content: '';
    transition: width 0.3s;
  }

  &:after {
    right: auto;
    left: 50%;
  }

  &:before {
    left: auto;
    right: 50%;
  }

  &:hover {
    &:before,
    &:after {
      width: 50%;
    }

    .base-search__icon {
      color: var(--blue);
    }
  }
}
</style>
