<template>
  <validation-provider
    v-slot="{ errors }"
    tag="div"
    :rules="rules"
    class="base-validator"
  >
    <slot :error="errors[0]" />
  </validation-provider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  components: {
    ValidationProvider,
  },
  props: {
    rules: {
      type: [String, Object, Array],
      required: true,
    },
  },
}
</script>
