<template>
  <div class="profile-block">
    <base-circle
      :icon-size="32"
      :circle-size="60"
      :icon="$options.profileIcon"
      class="avatar"
    />
    <profile-settings
      v-bind="$props"
      :is-active="showMenu"
      class="settings"
      @toggle="toggleMenu"
      @hide="hideMenu"
    />
  </div>
</template>

<script>
import { faUser } from '@fortawesome/free-solid-svg-icons/faUser'
import ProfileSettings from './ProfileSettings'
import BaseCircle from '~/components/shared/BaseCircle'

export default {
  profileIcon: faUser,
  components: {
    BaseCircle,
    ProfileSettings,
  },
  props: {
    email: {
      type: String,
      required: true,
    },
    settingsConfig: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      showMenu: false,
    }
  },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu
    },
    hideMenu() {
      this.showMenu = false
    },
  },
}
</script>

<style scoped lang="scss">
.profile-block {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  margin-right: 10px;
  background: var(--light-gray);
  color: var(--gray);
}

@media only screen and (max-width: 768px) {
  .settings {
    display: none;
  }

  .profile-block {
    margin-left: auto;
    margin-right: 30px;
  }
}
</style>
