<template>
  <div class="copyright-block">
    <span class="text">
      Copyright 2009 - {{ year }} <br />
      All rights reserved
    </span>
  </div>
</template>

<script>
export default {
  props: {
    year: {
      type: Number,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.text {
  color: var(--gray);
  font-size: 12px;
  margin: 0;
}
</style>
