<template>
  <div class="base-circle" :style="[setCircleStyles]">
    <font-awesome-icon :icon="icon" />
  </div>
</template>

<script>
const CIRCLE_SIZE = 100
const ICON_SIZE = 48

export default {
  props: {
    icon: {
      type: Object,
      required: true,
    },
    circleSize: {
      type: Number,
      default: CIRCLE_SIZE,
    },
    iconSize: {
      type: Number,
      default: ICON_SIZE,
    },
  },
  computed: {
    setCircleStyles() {
      return {
        width: `${this.circleSize}px`,
        height: `${this.circleSize}px`,
        fontSize: `${this.iconSize}px`,
      }
    },
  },
}
</script>

<style lang="scss">
.base-circle {
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 50%;
}
</style>
