<template>
  <div class="rate-info" :style="[setDefaultBg]">
    <base-breadcrumb class="breadcrumb" />
    <div class="content">
      <base-circle
        :circle-size="120"
        :icon-size="42"
        :icon="icon"
        class="icon"
      />
      <div class="info">
        <h1 class="title-common title">{{ name }}</h1>
        <base-search
          v-model="searchModel"
          placeholder="Поиск"
          @search="getSearch"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { faBriefcase } from '@fortawesome/free-solid-svg-icons/faBriefcase'
import BaseBreadcrumb from '@/components/shared/BaseBreadcrumb/index'
import BaseCircle from '@/components/shared/BaseCircle/index'
import BaseSearch from '@/components/shared/BaseSearch/index'

const DEFAULT_BG = require('./bg-stub.jpg')

export default {
  components: {
    BaseBreadcrumb,
    BaseCircle,
    BaseSearch,
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    bg: {
      type: [String, Object],
      default: DEFAULT_BG,
    },
    icon: {
      type: Object,
      default: () => faBriefcase,
    },
  },
  data() {
    return {
      searchModel: '',
    }
  },
  computed: {
    setDefaultBg() {
      return {
        background: `url(${this.bg}) center no-repeat`,
        backgroundSize: 'cover',
      }
    },
  },
  methods: {
    getSearch() {
      alert(`get search by string ${this.searchModel}`)
    },
  },
}
</script>

<style scoped lang="scss">
.rate-info {
  padding: 34px 21px;
  margin: -35px -20px 0 -20px;

  @media only screen and (max-width: 768px) {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
  }
}

.breadcrumb {
  margin-bottom: 69px;
  /deep/.base-breadcrumb__link {
    color: var(--white);
  }

  @media only screen and (max-width: 1024px) {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.content {
  display: flex;
  align-items: center;
}

.info {
  margin-left: 19px;
  @media only screen and (max-width: 1024px) {
    margin: 0;
    width: 100%;
  }
}

.title {
  margin: 0 0 30px;

  @media only screen and (max-width: 1024px) {
    font-size: 24px;
    text-align: center;
  }
}

.icon {
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
</style>
