.slide-y-transition-enter-active,
.slide-y-transition-leave-active {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.slide-y-transition-enter,
.slide-y-transition-leave-to {
  opacity: 0;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
