.title-common {
  font-size: 42px;
  color: var(--white);
  font-weight: 700;
  @media only screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.text-common {
  font-size: 14px;
  color: var(--white);
  font-weight: 400;
}

.subtitle-common {
  font-size: 32px;
  font-weight: 700;
  color: var(--white);
  @media only screen and (max-width: 768px) {
    font-size: 24px;
  }
}
