:root {
  --white: #fff;
  --black: #000;
  --red: #ee3f58;
  --gray: #565555;
  --blue: #2862ac;
  --green: #65c94d;
  --light-blue: #0073cf;
  --light-gray: #ededed;
  --light-gray2: #f9f9f9;
  --light-gray3: #a7a7a7;
  --light-gray4: #f2f2f2;
  --medium-gray: #d6d6d6;
}
