<template>
  <div class="auth-forgot-page">
    <p class="forgot-recovery">Восстановление пароля</p>
    <base-validator v-slot="{ error }" rules="required|email">
      <base-input v-model.trim="email" placeholder="Эл. почта" :error="error" />
    </base-validator>
    <base-button>Восстановить</base-button>
  </div>
</template>

<script>
import BaseInput from '~/components/shared/BaseInput'
import BaseButton from '~/components/shared/BaseButton'
import BaseValidator from '~/components/shared/BaseValidator'

export default {
  layout: 'registration',
  components: {
    BaseInput,
    BaseButton,
    BaseValidator,
  },
  data: () => ({
    email: '',
  }),
}
</script>

<style lang="scss">
.auth-forgot-page {
  .forgot-recovery {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px;
    color: var(--gray);
  }
}
</style>
