<template>
  <div class="auth-page-index">
    <link-tabs />
    <base-validator v-slot="{ error }" rules="required|email">
      <base-input v-model.trim="email" placeholder="Почта" :error="error" />
    </base-validator>
    <base-validator v-slot="{ error }" rules="required">
      <base-input v-model.trim="password" placeholder="Пароль" :error="error" />
    </base-validator>
    <div class="actions">
      <base-button>Войти</base-button>
      <nuxt-link to="/auth/forgot" class="forgot-password"
        >Забыли пароль?</nuxt-link
      >
    </div>
  </div>
</template>

<script>
import BaseInput from '~/components/shared/BaseInput'
import BaseButton from '~/components/shared/BaseButton'
import BaseValidator from '~/components/shared/BaseValidator'
import LinkTabs from '~/components/pages/auth/LinkTabs'

export default {
  layout: 'registration',
  components: {
    BaseInput,
    BaseButton,
    LinkTabs,
    BaseValidator,
  },
  data: () => ({
    email: '',
    password: '',
  }),
}
</script>

<style lang="scss">
.auth-page-index {
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 450px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .forgot-password {
    margin-left: 20px;
    @media only screen and (max-width: 450px) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
</style>
