<template>
  <fragment>
    <base-logo />
    <navigation-menu :links-config="authLinksConfig" class="menu" />
  </fragment>
</template>

<script>
import { faKey } from '@fortawesome/free-solid-svg-icons/faKey'
import { faLock } from '@fortawesome/free-solid-svg-icons/faLock'
import Config from '~/config'
import NavigationMenu from '~/components/modules/TheHeader/NavigationMenu'
import BaseLogo from '~/components/shared/BaseLogo'

const {
  pages: { auth, registration },
} = Config

export default {
  components: {
    BaseLogo,
    NavigationMenu,
  },
  computed: {
    authLinksConfig() {
      return [
        {
          text: 'Регистрация',
          link: registration,
          icon: faLock,
        },
        {
          text: 'Авторизация',
          link: auth,
          icon: faKey,
        },
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
</style>
