<template>
  <div class="base-mobile-menu">
    <font-awesome-icon
      :icon="$options.menuIcon"
      class="base-mobile-menu__icon"
      @click="isActive = true"
    />
    <div
      v-if="isActive"
      class="base-mobile-menu__overlay"
      @click.self="isActive = false"
    ></div>
    <nav v-if="isActive" class="base-mobile-menu__list">
      <font-awesome-icon
        :icon="$options.iconClose"
        class="base-mobile-menu__close"
        @click="isActive = false"
      />
      <nuxt-link
        v-for="(item, key) in navList"
        :key="key"
        :to="item.link"
        class="base-mobile-menu__list-item"
      >
        <font-awesome-icon
          :icon="item.icon"
          class="base-mobile-menu__list-icon"
        />
        <span class="base-mobile-menu__list-text">{{ item.text }}</span>
      </nuxt-link>
    </nav>
  </div>
</template>

<script>
import { faBars } from '@fortawesome/free-solid-svg-icons/faBars'
import { faTimes } from '@fortawesome/free-solid-svg-icons/faTimes'

export default {
  iconClose: faTimes,
  menuIcon: faBars,
  props: {
    navList: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    isActive: false,
  }),
}
</script>

<style scoped lang="scss">
.base-mobile-menu {
  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: var(--black);
    opacity: 0.5;
  }

  &__list {
    width: 280px;
    right: 0;
    top: 0;
    height: 100%;
    position: fixed;
    background: var(--white);
    box-shadow: 0 -1px 30px rgba(38, 38, 38, 0.3);
    z-index: 51;
    padding: 38px 18px 38px 27px;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    color: var(--gray);
    font-size: 24px;
  }

  &__close {
    margin-bottom: 24px;
    color: var(--gray);
    font-size: 24px;
    margin-left: auto;
  }

  &__list-item {
    display: flex;
    margin-bottom: 18px;
    color: var(--gray);
    align-items: center;
  }

  &__list-icon {
    font-size: 24px;
    margin-right: 16px;
    width: 30px;
  }

  &__list-text {
    font-size: 14px;
    font-weight: 700;
  }
}
</style>
