<template>
  <label :class="['base-checkbox', isActive, isDisabled]">
    <span class="base-checkbox__input-wrapper">
      <input
        type="checkbox"
        class="base-checkbox__input"
        :value="value"
        :disabled="disabled"
        :checked="isChecked"
        @change="inputHandler"
      />
    </span>
    <span class="base-checkbox__mask"></span>
    <span class="base-checkbox__content">
      <slot />
    </span>
  </label>
</template>

<script>
export default {
  model: {
    prop: 'selected',
    event: 'input',
  },
  props: {
    value: {
      type: [String, Number],
      default: '',
    },
    disabled: Boolean,
    name: String,
    selected: {
      type: [Array, Boolean],
      required: true,
    },
  },
  computed: {
    isActive() {
      return this.isChecked && `base-checkbox_active`
    },
    isDisabled() {
      return this.disabled && 'base-checkbox_disabled'
    },
    withBackground() {
      return this.background && 'base-checkbox_background'
    },
    isSingle() {
      return typeof this.selected === 'boolean'
    },
    isChecked() {
      return this.isSingle ? this.selected : this.selected.includes(this.value)
    },
  },
  methods: {
    inputHandler() {
      if (this.isSingle) {
        return this.$emit('input', !this.selected)
      }

      let currentValue = [...this.selected]

      if (currentValue.includes(this.value)) {
        currentValue = currentValue.filter((item) => item !== this.value)
      } else {
        currentValue.push(this.value)
      }

      this.$emit('input', currentValue)
    },
  },
}
</script>

<style lang="scss">
.base-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 24px;

  &__input-wrapper {
    position: relative;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__mask {
    display: inline-block;
    position: relative;
    border: 1px solid var(--blue);
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s, background 0.3s;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5px;
      margin: auto;
      border-style: solid;
      border-color: transparent;
      transform: rotate(45deg);
      border-width: 0 2px 2px 0;
      width: 6px;
      height: 8px;
    }
  }

  &__content {
    font-weight: 400;
    font-family: inherit;
    color: var(--gray);
    transition: color 0.3s;
    line-height: 1;
    flex: 1;
    font-size: 14px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &_active {
    .base-checkbox__mask {
      background: var(--white);
      border-color: var(--blue);
      &:after {
        border-color: var(--blue);
        display: block;
      }
    }
  }
}
</style>
