html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: var(--white);
  color: var(--black);
  font: normal 14px 'Open Sans', sans-serif;
  min-width: 320px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--gray);
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    color: var(--blue);
  }
}

.transition-link {
  padding: 2px;
  position: relative;
  &:hover {
    color: var(--white);
    background: var(--blue);
  }
}
