<template>
  <nav class="base-breadcrumb">
    <nuxt-link
      v-for="(item, key) in getMatchedRoutes"
      :key="key"
      :to="item.link"
      class="transition-link base-breadcrumb__link"
      exact
      exact-active-class="base-breadcrumb__link_active"
    >
      {{ item.name }}
      <span
        v-if="key !== getMatchedRoutes.length - 1"
        class="base-breadcrumb__separator"
        >/</span
      >
    </nuxt-link>
  </nav>
</template>

<script>
export default {
  computed: {
    getMatchedRoutes() {
      return this.$route.meta.crumbs
    },
  },
}
</script>

<style lang="scss">
.base-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  &__link {
    display: inline-flex;
    margin-right: 4px;
    text-decoration: none;
    color: var(--gray);
    transition: color 0.3s;

    &_active {
      font-weight: 700;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--blue);
    }
  }

  &__separator {
    margin-left: 4px;
  }
}
</style>
