<template>
  <div class="base-reviews">
    <base-wrapper :type="wrapperType">
      <h4 class="subtitle-common base-reviews__title">Отзывы клиентов</h4>
      <base-slider
        :per-page="2"
        :per-page-custom="[
          [320, 1],
          [1101, 2],
        ]"
      >
        <slide v-for="(item, key) in reviewList" :key="key">
          <review-item :info="item" />
        </slide>
      </base-slider>
    </base-wrapper>
  </div>
</template>

<script>
import ReviewItem from './ReviewItem'
import BaseWrapper from '~/components/shared/BaseWrapper'
import BaseSlider from '~/components/shared/BaseSlider'

const IMAGE_STUB = require('./review-stub.png')

export default {
  components: {
    BaseWrapper,
    ReviewItem,
    BaseSlider,
  },
  props: {
    wrapperType: {
      type: String,
      default: 'md',
    },
  },
  computed: {
    reviewList() {
      return [
        {
          image: IMAGE_STUB,
          name: 'Алексей',
          text:
            'В результате пересечения двух отраслей человеческой деятельности грамотный веб-дизайнер должен быть знаком с 123123l sklmmfskdf asdkasd adlka',
        },
        {
          image: IMAGE_STUB,
          name: 'Алексей',
          text:
            'В результате пересечения двух отраслей человеческой деятельности грамотный веб-дизайнер должен быть знаком с',
        },
        {
          image: IMAGE_STUB,
          name: 'Алексей',
          text:
            'В результате пересечения двух отраслей человеческой деятельности грамотный веб-дизайнер должен быть знаком с',
        },
        {
          image: IMAGE_STUB,
          name: 'Алексей',
          text:
            'В результате пересечения двух отраслей человеческой деятельности грамотный веб-дизайнер должен быть знаком с',
        },
      ]
    },
  },
}
</script>

<style scoped lang="scss">
.base-reviews {
  &__title {
    color: var(--gray);
    margin-bottom: 42px;

    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
}
</style>
