<template>
  <button class="base-back-button" type="button" @click="goBack">
    <slot />
  </button>
</template>

<script>
export default {
  methods: {
    goBack() {
      const getHistory = window.history.length > 2
      if (getHistory) {
        return this.$router.go(-1)
      }

      return this.$router.push('/')
    },
  },
}
</script>

<style scoped lang="scss">
.base-back-button {
  border: none;
  outline: none;
  background: none;
}
</style>
