<template>
  <main class="admin-layout">
    <the-aside />
    <div class="admin-content">
      <the-header is-auth class="admin-header" />
      <div class="admin-body">
        <nuxt />
      </div>
      <the-footer is-auth />
    </div>
  </main>
</template>

<script>
import TheAside from '~/components/modules/TheAside'
import TheHeader from '~/components/modules/TheHeader'
import TheFooter from '~/components/modules/TheFooter'

export default {
  name: 'AdminLayout',
  middleware: ['authProtect'],
  components: {
    TheAside,
    TheHeader,
    TheFooter,
  },
}
</script>

<style lang="scss">
.admin-layout {
  display: flex;
  flex-wrap: wrap;
}

.admin-header {
  width: 100%;
  padding-right: 16px;
  @media only screen and (max-width: 768px) {
    padding: 0 15px;
  }
}

.admin-content {
  background: var(--light-gray2);
  width: calc(100% - 154px);
  color: var(--gray);
  margin-left: 154px;
  @media only screen and (max-width: 1024px) {
    margin-left: 121px;
    width: calc(100% - 121px);
  }

  @media only screen and (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }
}

.admin-body {
  padding: 35px 20px;
  @media only screen and (max-width: 768px) {
    padding: 17px 15px 35px;
  }
}
</style>
