<template>
  <main>
    <the-header />
    <nuxt />
    <the-footer />
  </main>
</template>

<script>
import TheHeader from '~/components/modules/TheHeader'
import TheFooter from '~/components/modules/TheFooter'

export default {
  name: 'DefaultLayout',
  middleware: ['adminRedirect'],
  components: {
    TheHeader,
    TheFooter,
  },
}
</script>
