<template>
  <main>
    <the-header />
    <base-wrapper class="auth-page">
      <div class="auth-content">
        <base-breadcrumb />
        <nuxt />
      </div>
    </base-wrapper>
    <the-footer />
  </main>
</template>

<script>
import TheFooter from '~/components/modules/TheFooter'
import TheHeader from '~/components/modules/TheHeader'
import BaseWrapper from '~/components/shared/BaseWrapper'
import BaseBreadcrumb from '~/components/shared/BaseBreadcrumb'

export default {
  middleware: ['adminRedirect'],
  components: {
    TheHeader,
    TheFooter,
    BaseWrapper,
    BaseBreadcrumb,
  },
}
</script>

<style lang="scss">
.auth-page {
  padding-top: 20px;

  .auth-content {
    max-width: 550px;
  }

  .base-breadcrumb {
    margin-bottom: 30px;
  }
}
</style>
