<template>
  <carousel
    autoplay
    autoplay-hover-pause
    pagination-color="var(--blue)"
    pagination-active-color="var(--blue)"
    :pagination-size="14"
    :pagination-padding="5"
    class="base-slider"
    v-bind="$attrs"
  >
    <slot />
  </carousel>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
.base-slider {
  /deep/ .VueCarousel-dot--active {
    width: 18px !important;
    height: 18px !important;
    &:focus,
    &:active {
      outline: none !important;
    }
  }

  /deep/ .VueCarousel-dot {
    &:focus,
    &:active {
      outline: none !important;
    }
  }

  /deep/ .VueCarousel-dot-container {
    display: inline-flex;
    align-items: center;
  }
}
</style>
