<template>
  <div class="main-page">
    <greeting-block />
    <benefits-block />
    <registration-block :registration-link="links.registrationLink" />
    <about-block />
    <base-reviews class="review-block" />
    <partners-block />
    <registration-block :registration-link="links.registrationLink" />
  </div>
</template>

<script>
import Config from '~/config'
import GreetingBlock from '~/components/pages/main/GreetingBlock'
import BenefitsBlock from '~/components/pages/main/BenefitsBlock'
import RegistrationBlock from '~/components/pages/main/RegistrationBlock'
import AboutBlock from '~/components/pages/main/AboutBlock'
import PartnersBlock from '~/components/pages/main/PartnersBlock'
import BaseReviews from '~/components/shared/BaseReviews'

const {
  pages: { registration: registrationLink },
} = Config

export default {
  components: {
    GreetingBlock,
    BenefitsBlock,
    RegistrationBlock,
    AboutBlock,
    PartnersBlock,
    BaseReviews,
  },
  computed: {
    links() {
      return {
        registrationLink,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.reviews-block {
  margin-bottom: 60px;
}
</style>
