<template>
  <fragment>
    <div class="footer-content">
      <base-logo class="logo" type="gray" />
      <copyright-block :year="year" class="copyright" />
    </div>
    <div
      v-for="(item, key) in navigationList"
      :key="key"
      class="footer-content"
    >
      <nav-list :info="item" />
    </div>
  </fragment>
</template>

<script>
import NavList from './NavList/index'
import BaseLogo from '~/components/shared/BaseLogo/index'
import CopyrightBlock from '~/components/modules/TheFooter/CopyrightBlock'
export default {
  components: {
    BaseLogo,
    NavList,
    CopyrightBlock,
  },
  props: {
    year: {
      type: Number,
      required: true,
    },
  },
  computed: {
    navigationList() {
      return [
        {
          title: 'Клиентам',
          links: [
            {
              text: 'Что такое MyBiz?',
              src: '',
            },
            {
              text: 'Как зарегистрироваться?',
              src: '',
            },
          ],
        },
        {
          title: 'Клиентам',
          links: [
            {
              text: 'Что такое MyBiz?',
              src: '',
            },
            {
              text: 'Как зарегистрироваться?',
              src: '',
            },
          ],
        },
        {
          title: 'Клиентам',
          links: [
            {
              text: 'Что такое MyBiz?',
              src: '',
            },
            {
              text: 'Как зарегистрироваться?',
              src: '',
            },
          ],
        },
      ]
    },
  },
}
</script>

<style scoped lang="scss">
.logo {
  margin-bottom: 40px;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.footer-content {
  flex: 1.7;
  padding-right: 40px;
  &:first-child {
    flex: 2;
    @media only screen and (max-width: 1024px) {
      order: 4;
      flex-basis: 100%;
      margin-top: 35px;
    }

    @media only screen and (max-width: 768px) {
      margin-top: 0;
      .copyright {
        /deep/br {
          display: none;
        }
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    flex: 1;
  }

  @media only screen and (max-width: 768px) {
    flex-basis: 100%;
    margin-bottom: 35px;
  }
}
</style>
