<template functional>
  <div class="links-list">
    <strong class="text-common title">{{ props.info.title }}</strong>
    <nav class="nav-links">
      <a
        v-for="(item, key) in props.info.links"
        :key="key"
        :href="props.info.src"
        class="text-common link"
      >
        {{ item.text }}
      </a>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped lang="scss">
.links-list {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-weight: 700;
  color: var(--gray);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.link {
  cursor: pointer;
  color: var(--gray);
  text-decoration: none;
  display: table;
  &:hover {
    text-decoration: underline;
  }
}
</style>
