<template>
  <nav class="navigation-menu" :class="[setAuthClass]">
    <nuxt-link
      v-for="item in linksConfig"
      :key="item.link"
      :to="item.link"
      class="link transition-link"
    >
      <font-awesome-icon v-if="item.icon" :icon="item.icon" class="icon" />
      {{ item.text }}
    </nuxt-link>
  </nav>
</template>

<script>
export default {
  props: {
    linksConfig: {
      type: Array,
      required: true,
    },
    isAuth: Boolean,
  },
  computed: {
    setAuthClass() {
      return this.isAuth && 'auth'
    },
  },
}
</script>

<style scoped lang="scss">
.navigation-menu {
  display: flex;
  &.auth .link {
    margin-left: 14px;
  }
}

.link {
  text-decoration: none;
  font-weight: 700;
  margin-left: 27px;
  display: inline-flex;
  align-items: center;
  &:first-child {
    margin-left: 0;
  }
}

.icon {
  font-size: 18px;
  margin-right: 10px;
}
</style>
