<template>
  <aside class="the-aside">
    <base-logo class="logo" type="min" />
    <links-list :links-config="linksConfig" />
  </aside>
</template>

<script>
import { faAddressCard } from '@fortawesome/free-solid-svg-icons/faAddressCard'
import { faBlackTie } from '@fortawesome/free-brands-svg-icons/faBlackTie'
import { faUsers } from '@fortawesome/free-solid-svg-icons/faUsers'

import LinksList from './LinksList'
import BaseLogo from '~/components/shared/BaseLogo'

export default {
  components: {
    BaseLogo,
    LinksList,
  },
  computed: {
    linksConfig() {
      return [
        {
          icon: faAddressCard,
          link: 'https://vk.com',
        },
        {
          icon: faBlackTie,
          link: 'https://vk.com',
        },
        {
          icon: faUsers,
          link: 'https://vk.com',
        },
      ]
    },
  },
}
</script>

<style scoped lang="scss">
.the-aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 154px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 1024px) {
    width: 121px;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.logo {
  margin-bottom: 50px;
}
</style>
