<template>
  <div class="link-tabs">
    <nuxt-link
      v-for="item in tabsConfig"
      :key="item.text"
      :to="item.link"
      exact
      exact-active-class="active"
      class="link"
    >
      {{ item.text }}
    </nuxt-link>
  </div>
</template>

<script>
import Config from '~/config'

const {
  pages: { registration, auth },
} = Config

const DEFAULT_LINK_TABS = [
  {
    link: registration,
    text: 'Регистрация',
  },
  {
    link: auth,
    text: 'Авторизация',
  },
]

export default {
  props: {
    tabsConfig: {
      type: Array,
      default: () => DEFAULT_LINK_TABS,
    },
  },
}
</script>

<style scoped lang="scss">
.link-tabs {
  display: flex;
  margin-bottom: 20px;
}

.link {
  font-size: 32px;
  margin-right: 20px;
  &.active {
    font-weight: 700;
    color: var(--blue);
    cursor: default;
  }

  &:last-child {
    margin-right: 0;
  }

  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}
</style>
