<template>
  <fragment>
    <img src="./404.svg" class="img-responsive image" alt="404" />
    <p class="text">Страница не найдена</p>
    <base-back-button class="back-button">
      Вернуться на предыдущую страницу
    </base-back-button>
  </fragment>
</template>

<script>
import BaseBackButton from '~/components/shared/BaseBackButton'

export default {
  components: {
    BaseBackButton,
  },
}
</script>

<style scoped lang="scss">
.image {
  margin-bottom: 17px;
}

.text {
  margin: 0 0 5px;
  font-weight: bold;
  color: var(--gray);
}

.back-button {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
</style>
