<template>
  <footer class="the-footer" :class="[getFooterClass]">
    <base-wrapper class="wrapper" :type="getWrapperType">
      <component :is="getComponent" :year="getDate" />
    </base-wrapper>
  </footer>
</template>

<script>
import BaseWrapper from '~/components/shared/BaseWrapper'
const AuthVer = () => import('./AuthVer')
const NonAuthVer = () => import('./NonAuthVer')

export default {
  components: {
    BaseWrapper,
    AuthVer,
    NonAuthVer,
  },
  props: {
    isAuth: Boolean,
  },
  computed: {
    getWrapperType() {
      return this.isAuth ? 'lg' : 'md'
    },
    getFooterClass() {
      return this.isAuth ? 'auth' : 'guest'
    },
    getDate() {
      return new Date().getFullYear()
    },
    getComponent() {
      return this.isAuth ? AuthVer : NonAuthVer
    },
  },
}
</script>

<style scoped lang="scss">
.the-footer {
  padding: 60px 0 20px;
  &.auth {
    padding: 30px 20px;

    .wrapper {
      align-items: center;
    }

    @media only screen and (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;

      .wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
  &.guest {
    @media only screen and (max-width: 1024px) {
      .wrapper {
        flex-wrap: wrap;
      }
    }
  }
}

.wrapper {
  display: flex;
}
</style>
