<template>
  <article class="rate-card">
    <header class="header" :style="getBackground">
      <base-button
        :class="[info.type]"
        type="sm"
        tag="nuxt-link"
        :link="info.link"
      >
        {{ getButtonText }}
      </base-button>
      <base-circle
        class="circle"
        :circle-size="120"
        :icon-size="42"
        :icon="info.icon"
      />
    </header>
    <div class="content">
      <strong class="name">{{ info.name }}</strong>
      <p class="description">
        {{ info.text }}
      </p>
    </div>
  </article>
</template>

<script>
import BaseButton from '@/components/shared/BaseButton/index'
import BaseCircle from '@/components/shared/BaseCircle/index'

const BUTTON_TEXT = {
  install: 'Подключить',
  installed: 'Подключено',
  pending: 'В ожидании',
  notInstalled: 'Не подключено',
}

export default {
  components: {
    BaseButton,
    BaseCircle,
  },
  props: {
    info: {
      type: Object,
      required: true,
    },
  },
  computed: {
    getButtonText() {
      return BUTTON_TEXT[this.info.type]
    },
    getBackground() {
      return {
        background: `url(${this.info.image}) center no-repeat`,
        backgroundSize: 'cover',
      }
    },
  },
}
</script>

<style scoped lang="scss">
.rate-card {
  width: 49.36305732484077%;
  box-shadow: 0 -1px 30px rgba(38, 38, 38, 0.3);
  border-radius: 10px;
  margin-bottom: 21px;
  &:nth-child(even) {
    margin-left: 1.2738853503184657%;
  }

  @media only screen and (max-width: 1024px) {
    width: 100%;
    &:nth-child(even) {
      margin-left: 0;
    }
  }
}

.header {
  border-bottom: 5px solid var(--blue);
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  @media only screen and (max-width: 768px) {
    padding-bottom: 70px;
  }
}

.circle {
  position: absolute;
  left: 30px;
  bottom: -50%;

  @media only screen and (max-width: 768px) {
    left: 0;
    right: 0;
    margin: auto;
  }
}

.content {
  padding: 76px 180px 44px 30px;
  color: var(--gray);
  @media only screen and (max-width: 550px) {
    padding: 76px 47px 23px 30px;
  }
}

.name {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 15px;
}

.text {
  margin: 0;
}

.base-button {
  &.pending {
    background: var(--light-gray3);
  }
  &.installed {
    background: var(--green);
  }
  &.notInstalled {
    background: var(--blue);
  }

  @media only screen and (max-width: 768px) {
    margin: auto;
  }
}
</style>
